# Load local environment overrides from `.env` (if present).
# Run: direnv allow
if [ -f .env ]; then
  dotenv .env
fi

export CLIBLE_DATA_DIR=./src/clible/data
export CLIBLE_DB_PATH=./src/clible/data/clible.db
export CLIBLE_TRANSLATIONS=web,kjv,fin-biblia-33-38,fin-1992,fin-1776,fin-stlk

export CLIBLE_REQUEST_TIMEOUT=10
export CLIBLE_REQUEST_DELAY=1
export CLIBLE_DOCKER_REPO=docker.io/mvirtai/clible-v2
export CLIBLE_GCS_BUCKET=clible-v2dev-backups
export CLIBLE_GCP_ARTIFACT_REGISTRY=europe-north1-docker.pkg.dev/clible-v2dev/clible